.loadingScreen {
    width: 100%;
    height: 100%;
    background-color: #130831;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-family: sans-serif;
    position: fixed;
    inset: 0;
    z-index: 9999;
    transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
}

.loadingScreen img {
    width: 20%;
}

.fadeToggle {
    opacity: 0;
}

.d-none {
    display: none;
}
